<header>
    <h1>Names Greeted</h1>
</header>
<div class="container">
    <div class="center">
        <div class="names-list">
        
        </div>
    </div>
    <br>
    <div class="links">
        <a class="link-back" href="#">Return to Greeting</a>
    </div>
</div>