<header id="greetedHeader">
    Names Greeted
</header>
<div class="container">
    <br>
    <div class="names-list">
        <table>
            {{#each names}}
                <tr>
                    <td><a id="nGreeted" href="/counter/{{this.nameGreeted}}"><h2>{{this.nameGreeted}}</h2></a></td>
                </tr>
            {{/each}}
        </table>
    </div>
    <div class="links">
        <hr>
        <br>
        <a class="link-back" href="/">Return to Greeting</a>
        <br>
        <br>
    </div>
</div>