/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: teal;
}

/* ROOT FONT STYLES */

* {
  /* font-family: 'Lato', Helvetica, sans-serif; */
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  color: black;
  line-height: 1.5;
}

/* TYPOGRAPHY */

header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: whitesmoke;
  font-family: 'Dela Gothic One', cursive;
  background-image: linear-gradient(to bottom right, royalblue, purple, crimson);
  padding-bottom: 1%;
  padding-top: 1%;
  border-bottom: solid 0.3rem steelblue; 
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

.errorMes {
  color: crimson;
}

.theerror {
  height: 1.5rem;
  margin-right: 1em;
}

.name {
  margin-right: 1%;
}

.empty {
  margin-left: 3%;
  margin-right: 3%;
}

#rad {
  margin-right: 1.5%;
  cursor: pointer;
}

.greetButton {
  margin-right: 1.5%;
  margin-top: 1.5%;
  width: 7rem;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  padding: 0.5em;
  border-radius: 0.4em;
  border: solid greenyellow;
  background-color: transparent;
  color: whitesmoke;
  font-weight: bolder;
}

.greetButton:hover {
  background-color: greenyellow;
  color: black;
  transition: ease-in-out 250ms;
}

.clearButton {
  margin-right: 1.5%;
  margin-top: 1.5%;
  width: 7rem;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  padding: 0.5em;
  border-radius: 0.4em;
  border: solid darkorange;
  background-color: transparent;
  color: whitesmoke;
  font-weight: bolder;
  font-family: 'Indie Flower', cursive;

}

.clearButton:hover {
  background-color: darkorange;
  color: black;
  transition: ease-in-out 250ms;
}

.names {
  margin-right: 1.5%;
  margin-top: 1.5%;
  width: 7rem;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  padding: 0.5em;
  border-radius: 0.4em;
  border: solid purple;
  background-color: transparent;
  color: whitesmoke;
  font-weight: bolder;
}

.names:hover {
  background-color: purple;
  color: black;
  transition: ease-in-out 250ms;
}

a {
  text-decoration: none;
  outline: none;
  color: whitesmoke;
}

.thegreet {
  height: 3em;
}

.names-list{
  display: flex;
  justify-content: center;
}

.names-list h2 {
  margin: 10% 0;
}

.links {
  width: 80%;
  position:fixed;
  text-align: center;
  bottom: 0;
  text-align: center;
  left:10%;
  background-color: teal;
}

.links a {
  color: whitesmoke;
}

hr{
  border: solid 0.1rem #151536;
  background-color: #151536;
}

#greetedHeader {
  border-bottom: solid 0.2rem #151536;
}

.link-back{
  transition: 300ms;
}

.link-back:hover{
  text-decoration: underline;
  color:wheat;
}

td {
  font-size: 1rem;
}

#nGreeted {
  color: black;
  transition: 300ms;
}

#nGreeted:hover {
  color: #151536;
  text-decoration: underline;
}

.nameCount {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  border-top: solid 0.2rem #151536;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 18%;
}

.link a {
  color: whitesmoke;
}

.link a:hover {
  text-decoration: underline;
  color:wheat;
}


@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }

  * {
    font-size: 1rem;
  }

  header {
    font-size: 1.8rem;
  }

  .theerror {
    margin-right: 3.2em;
  }

  .counting {
    font-size: 2rem;
    font-weight: bolder;
  }

  .greetButton {
    width: 8rem;
  }

  .clearButton {
    width: 8rem;
  }

  .names {
    width: 8rem;
    font-size: 1rem;
  }

  .thegreet {
    font-size: 1.2rem;
    height: 3em;
  }

  .greeting {
    font-size: 1.2rem;

  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }

  * {
    font-size: 1.1rem;
  }

  .theerror {
    margin-right: 3.2em;
  }

  .counting {
    font-size: 2.5rem;
    font-weight: bolder;
  }

  .greetButton {
    width: 11rem;
  }

  .clearButton {
    width: 11rem;
  }

  .names {
    width: 11rem;
    font-size: 1.1rem;

  }

  .thegreet {
    
    font-weight: bold;
    height: 3em;
  }

  .greeting {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

@media only screen and (min-width: 1340px) {
  .theerror {
    height: 2rem;
    margin-right: 3.8em;
  }

  .thegreet {
    font-weight: bold;
    height: 3em;
  }
  .greeting {
    font-size: 1.8rem;
  }
}
